# Server Configurations
PORT=8091
ENV=development
JWT_SECRET=change-me-to-a-long-random-string-used-for-signing-jwt-tokens
JWT_REFRESH_SECRET=change-me-to-a-long-random-string-used-for-refresh-tokens
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=720h

# PostgreSQL Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=luma
DB_PASSWORD=luma_password
DB_NAME=luma_mqtt
DB_SSLMODE=disable
DATABASE_URL=postgres://luma:luma_password@localhost:5432/luma_mqtt?sslmode=disable

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_URL=redis://localhost:6379/0

# EMQX Client Configuration
EMQX_BROKER_HOST=localhost
EMQX_BROKER_HOST=https://e9661916.ala.eu-central-1.emqxsl.com:8443/api/v5
EMQX_BROKER_PORT=1883
EMQX_USERNAME=luma_backend
EMQX_PASSWORD=luma_password
EMQX_TLS_ENABLED=false
EMQX_CA_CERT_PATH=

# EMQX Public API Credentials
EMQX_API_ENDPOINT=https://cloud-intl.emqx.com/public_api/v1
EMQX_API_ENDPOINT=https://e9661916.ala.eu-central-1.emqxsl.com:8443/api/v5
EMQX_API_KEY=
EMQX_API_SECRET=

# Service API Key (Service-To-Service communication)
SERVICE_API_KEY=test-api-key
